*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

img{
    width: 100%;
}

.tarolo{
    max-width: 1000px;
    width: 95%;
    margin: auto;
    background-color: black;
}

.menu{
    border: 3px solid red;
    background-color: red;
}

.menu ul{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    list-style-type: none;
    height: auto;
    width: 425px;
    margin: auto;
    align-items: center;
}

.menu li{
    text-align: center;
}

.menu a{
    font-size: 16pt;
    text-decoration: none;
    color: white;
    padding-left: 25px;  
    padding-right: 25px;  
}

.menu a:hover{
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    color:white;
}

p{
    color: white;
    text-align: justify;
}

h1, h2{
    color: red;
    margin: 10px;
}

li{
    color: white;
    text-align: justify;
}

.tartalom{
    padding: 10px;
}

.tartalom0{
    margin: 10px;
    padding: 10px;  
}

.tartalom1 p{
    margin-left: 20px;   
}

.tartalom1{
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 10px;
    padding: 10px;
}

.tartalom2 p{
     margin-right: 20px;
}

.tartalom2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 10px;
    padding: 10px;
}

.tartalom3{
    margin: 10px;
    padding: 10px;
    padding-left: 35px;
}

.lablec{
    height: 50px;
    align-content: center;
    background-color: rgb(36, 36, 36);
}

.lablec p{
    text-align: center;
}

table{
    color: red;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 400px;
}

@media screen and (max-width: 600px){
    .tarolo{
        width: 100%;
        font-size: calc(12px + 2vw);
    }
    
    .menu ul{
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .tartalom1{
        grid-template-columns: 1fr;
    }

    .tartalom2{
        grid-template-columns: 1fr;

    }

    .tartalom1 p{
     margin-left: 0px;
    }

    .tartalom2 p{
     margin-right: 0px;
    }

    .tartalom1 img{
        margin-bottom: 15px;
    }

    .tartalom2 img{
        margin-top: 15px;
    }
}